@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --main_color: #1fa0d2;
  --background_color: #f1f6f9;
}


body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;

  background-color: var(--background_color);
}


.colored {
  color: var(--main_color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
